# Mux API Configuration
MUX_TOKEN_ID=token
MUX_TOKEN_SECRET=key
MUX_WEBHOOK_SECRET=My Webhook Secret
MUX_SIGNING_KEY=My Jwt Signing Key
MUX_PRIVATE_KEY=My Jwt Private Key
MUX_AUTHORIZATION_TOKEN=my authorization token

# Ollama Configuration
OLLAMA_BASE_URL=http://192.168.88.16:11434
OLLAMA_MODEL=gpt-oss:20b

# Server Configuration
PORT=4111

# Server Configuration
PORT=4111